@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400|Noto+Sans+SC:300,500&display=swap&subset=chinese-simplified');

@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sarabun:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');


body{
	background-color: #0f0e17;
	overflow: hidden;
	font-family: 'Inter', serif;
}

/* .container{
	width: 1000px;
} */

#w{
	position: absolute;
	z-index: -1000;
}

#space {
	width: 100%;
  }
  
#title{
	margin-top:30px;
}


h1,p,.h3,.h2,h2,h4,.p{
	color: #f9f4ef;
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.461);
}

h1{
	font-size:24px;
	font-weight: 400;
	font-family: 'Righteous', cursive;
}

p{
	font-size:12px;
	font-weight: 400;
	font-family: 'Righteous', cursive;
}
.p{
	font-size:10px;
	font-weight: 400;
	font-family: 'Righteous', cursive;
}

.h3{
	font-size:24px;
	font-weight: 400;
	font-family: 'Righteous', cursive;
	text-transform: uppercase;
}

.h2{
	font-size:24px;
	font-weight: 400;

	/* font-family: 'Oswald', sans-serif; */
	text-transform: uppercase;
	font-family: 'Righteous', cursive;
}

h2{
	font-size:30px;
	font-weight: 200;
	font-family: 'Righteous', cursive;
}

h4{
	font-size:12px;
	font-weight: 400;
	/* font-family: 'Oswald', sans-serif; */
	font-family: 'Righteous', cursive;
}
h5{
	font-size:14px;
	font-weight: 400;
	/* font-family: 'Oswald', sans-serif; */
	font-family: 'Righteous', cursive;
}

/* title line */
.slider{
	position:absolute;
	width:1000px;
	height:2px;
	margin-top:40px
  }
  .line{
	position:absolute;
	background:#4a8df8;
	width:1000px;
	height:2px;
	
  }
  .break{
	position:absolute;
	background:#222;
	width:50px;
	height:2px;  
  }
  
  .dot1{ animation: loading 3s infinite;}
  .dot2{ animation: loading 3s 0.5s infinite; }
  .dot3{ animation: loading 3s 1.5s infinite; }
  
  @keyframes loading {
   from { left: 0; }
   to { left: 100%; }
  }


.graph{
	border: 1.5px solid white;
	border-radius: 5px;
}



#Translator{
	/* width:50px; */
	height:180px;
}

#barchart{
	/* width:480px; */
	height:180px;
}
/* #selector{
	width:200px;
	height:400px;
} */

.line1{
	width:5px;
	left:130px;
	top:120px;
	position: absolute;
	z-index:20;
}
.line2{
	width:5px;
	left:700px;
	top:120px;
	position: absolute;
	z-index:20;
}

.line{
	background-color:white;
	height:1px;
	margin-bottom: 20px;
}


span{
	color:white;
	font-size:20px;
}

span:hover {
	color: #8c7851;
  }
  
  /* i:disabled,
  i[disabled]{
	border:0.8px solid #8c785100;
	background: #8c7851;
	
  } */

.viewPoint{
	background-color:#f9f4ef;
	border: 1px solid #8c7851;
	position: absolute;
	top: 25vh;
    left: 25vw;
}

.scale-up-ver-center {
	-webkit-animation: scale-up-ver-center 0.8s cubic-bezier(1.000, 0.000, 0.000, 1.000) both;
	        animation: scale-up-ver-center 0.8s cubic-bezier(1.000, 0.000, 0.000, 1.000) both;
}

 @-webkit-keyframes scale-up-ver-center {
	0% {
	  -webkit-transform: scaleY(0.01);
			  transform: scaleY(0.01);
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	}
  }
  @keyframes scale-up-ver-center {
	0% {
	  -webkit-transform: scaleY(0.01);
			  transform: scaleY(0.01);
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	}
  }
  
#translator {
    width: 200px;
    height: 350px;
    z-index: 0
  }
  
#dictionary {
    width: 150px;
    height: 150px;
    z-index: 0
  }
  
#lucky {
    width: 150px;
    height: 150px;
    z-index: 0
  }
  
/* eye */
  .border{
	width:120px;
	height:80px;
	border:solid 2px white;
	margin:0 auto;
	border-radius:50%;	
	cursor:pointer;
	animation: blink 2s linear 0s infinite;
	-webkit-animation: blink 2s linear 0s infinite;
  }

  .eye1{
	width:50px;
	height:80px;
	margin:0 auto;
	cursor:pointer;
  }

  @keyframes blink {
	0% {transform: rotateX(0deg);}
	10% {transform: rotateX(0deg);}
	20% {transform: rotateX(90deg);}
	30% {transform: rotateX(0deg);}
	40% {transform: rotateX(0deg);}
	50% {transform: rotateX(0deg);}
	60% {transform: rotateX(0deg);}
	70% {transform: rotateX(0deg);}
	80% {transform: rotateX(0deg);}
	90% {transform: rotateX(0deg);}
	100% {transform: rotateX(0deg);}
}

@-webkit-keyframes blink {
	0% {transform: rotateX(0deg);}
	10% {transform: rotateX(0deg);}
	20% {transform: rotateX(90deg);}
	30% {transform: rotateX(0deg);}
	40% {transform: rotateX(0deg);}
	50% {transform: rotateX(0deg);}
	60% {transform: rotateX(0deg);}
	70% {transform: rotateX(0deg);}
	80% {transform: rotateX(0deg);}
	90% {transform: rotateX(0deg);}
	100% {transform: rotateX(0deg);}
}

  .small1{
	width:40px;
	height:40px;
	border:solid 1px white;
	border-radius:50%;   
  }

  .pupil{
	width:30px;
	height:30px;
	background:rgb(247, 247, 247);
	border-radius:50%;  
	margin: 0 5px; 
  }

/* switch */
.custom-switch .custom-control-label::before {
	border-radius: 2px;
	border-color: #ebebeb;
    background-color: #eeeeee00;
	
}

.custom-switch .custom-control-label::after {
	border-radius: 2px;
	
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #ebebeb;
    background-color: #eeeeee00;
}

.custom-switch .custom-control-label::after {
	background-color: #f4f4f4;
	
}


/* button{
	background-color: rgba(255, 255, 255, 0);
	border-color: rgba(255, 255, 255, 0);
} */

.modal-content h1{
	/* color:black; */
	font-size:30px;
	
}

.modal-content h3{
	color:white;
	font-size:20px;
	font-family: 'Roboto Condensed', sans-serif;
	text-shadow: rgba(255, 255, 255, 0);
	line-height: 30px;
}

.modal-content p{
	/* color:black; */
	font-size:16px;
	font-family: 'Roboto Condensed', sans-serif;
	text-shadow: rgba(255, 255, 255, 0);
}

@media (min-width: 992px){
.modal-xl {
    max-width: 1200px;
}}

.modal-content{
	background-color: hsla(0, 0%, 0%, 0.708);
}

